.progress-bar {
  width: 250px;
  height: 35px;
  margin-top: 15px;
  border: 2px solid darkblue;
}

.progress-bar-fill {
  width: 0%;
  height: 100%;
  background: lightblue;
  display: flex;
  align-items: center;
  font-weight: bolder;
  transition: .25;
}

.progress-bar-text {
  font-weight: bolder;
  margin-left: 10px;
}

.chooseFile {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  border: 10px dotted;
  font-size: 30px;
}

.container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  float: right;
}

.uploader {
  height: 100vh;
  display: flex;
}

.fa-file {
  margin-right: 20px;
  font-size: 60px;
}

.icon {
  display: flex;
  margin: 15px 0;
  align-items: center;
}

.icon__img {
  width: 50px;
  height: 60px;
  margin-right: 20px;
  object-fit: cover;
}

.fileName {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}